<html>
<head>
	<title>Modification du bot</title>
</head>
<body>
	<div>
		<form action="/" method="get">
			<input type="submit" value="menu">
		</form>
	</div>
	<div>
		<h2><%= bot.name %></h3>
		<h3>Allumer/éteindre un service</h3>
		<div>
			Services :
			<table>
				<thead>
					<tr>
						<th>Service</th>
						<th>token</th>
					</tr>
				</thead>
				<tbody>
					<% bot.services.forEach( function(item) { %>
					<tr>
						<td><% if(item.type == 0) { %> SMS <% } else if(item.type == 1) { %> DISCORD <% } %></td>
						<td>
							<%= item.token %>
						</td>
						<td>
							<form action="/activateService" method="post">
								<input type="hidden" name="botName" value="<%= bot.name %>">
								<input type="hidden" name="service" value="<%= item.type %>">
								<input type="hidden" name="token" value="<%= item.token %>">
								<input type="hidden" name="activate" value="<% if(item.active) { %>off<% } else { %>on<% } %>">
								<input type="submit" value="<% if(item.active) { %> éteindre <% } else { %> allumer <%}%>">
							</form>
						</td>
						<td>
							<form action="/delService" method="post">
								<input type="hidden" name="botName" value="<%= bot.name %>">
								<input type="hidden" name="service" value="<%= item.type %>">
								<input type="hidden" name="token" value="<%= item.token %>">
								<input type="submit" value="supprimer">
							</form>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<h3>Ajouter un service</h3>
		<div>
			<form action="/addService" method="post">
				<input type="hidden" name="botName" value="<%= bot.name %>">
				Service :
				<select name="service">
					<option value=0>SMS</option>
					<option value=1>Discord</option>
				</select>
				Token :
				<input type="text" name="token">
				<input type="submit" value="ajouter">
			</form>
		</div>
		<h3>Cerveaux</h3>
		<div>
			<% bot.brains.forEach(function(elt) { %>
				<%= elt %>
			<% }) %>
			<form action="/addBrain" method="post">
				<input type="hidden" name="botName" value="<%= bot.name %>">
				<input type="hidden" name="action" value="add">
				<select name="newBrain">
					<option value="standard.rive">standard</option>
					<option value="dumbSteeve.rive">dumb Steeve</option>
					<option value="Botounet.rive">Botounet</option>
				</select>
				<input type="submit" value="Ajouter">
			</form>
		</div>
		<h4>Changer de cerveau</h4>
		<div>
			<form action="/addBrain" method="post">
				<input type="hidden" name="botName" value="<%= bot.name %>">
				<input type="hidden" name="action" value="change">
				<select name="newBrain">
					<option value="standard.rive">standard</option>
					<option value="dumbSteeve.rive">dumb Steeve</option>
					<option value="Botounet.rive">Botounet</option>
				</select>
				<input type="submit" value="Changer">
			</form>
		</div>
	</div>
</body>
</html>