<html>
<head>
	<title>Modification du bot</title>
</head>
<body>
	<div>
		<form action="/" method="get">
			<input type="submit" value="menu">
		</form>
	</div>
	<div>
		<h3><%= bot.name %></h3>
		<h3>Ajouter un service</h3>
		<div>
			Services :
			<table>
				<thead>
					<tr>
						<th>Service</th>
						<th>token</th>
					</tr>
				</thead>
				<tbody>
					<% bot.services.forEach( function(item, index, array) { %>
					<tr>
						<td><% switch(item.type) { case 0: %> SMS <% break; case 1: %> DISCORD <% break; } %></td>
						<td>
							<%= item.token %>
						</td>
						<td>
							<form action="/deleteBot" method="post">
								<input type="hidden" name="botName" value="<%= bot.name %>">
								<input type="hidden" name="service" value="<%= item.type %>">
								<input type="hidden" name="token" value="<%= item.token %>">
								<input type="submit" value="<% item.active ? éteindre : allumer %>">
							</form>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		
		<div>
			Cerveaux :
			<% bot.brains.forEach((elt) => { %>
				<%= elt %>
			}) %>
			<form action="/addBrain" method="post">
				<select name="newBrain">
					<option value="standard.rive">standard</option>
					<option value="dumbSteeve.rive">dumb Steeve</option>
					<option value="Botounet.rive">Botounet</option>
				</select>
				<input type="submit" value="Ajouter">
			</form>
		</div>
	</div>
</body>
</html>